<label for="surfaceFilter">Filter by Surface:</label>
<input
  type="number"
  id="surfaceFilter"
  [(ngModel)]="surfaceFilter"
  (input)="filterApartmentsBySurface()"
/>

<ng-container *ngIf="list && list.length > 0">
  <table border="1" class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">appartNum</th>
        <th scope="col">floorNum</th>
        <th scope="col">surface</th>
        <th scope="col">terrace</th>
        <th scope="col">surfaceTerrace</th>
        <th scope="col">category</th>
        <th scope="col">description</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tr *ngFor="let i of filteredList">
      <td scope="row">{{ i.id }}</td>
      <td scope="row">{{ i.appartNum }}</td>
      <td scope="row">{{ i.floorNum }}</td>
      <td scope="row">{{ i.surface }}</td>
      <td scope="row">{{ i.terrace }}</td>
      <td scope="row">{{ i.surfaceTerrace }}</td>
      <td scope="row">{{ i.category }}</td>
      <td scope="row">{{ i.description }}</td>
      <td>
        <button (click)="addToFavorites(i)" aria-label="Add to Favorites">
          <span [ngClass]="{ 'star-icon': true, liked: isApartmentLiked(i) }">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M0 0h24v24H0z" fill="none" />
              <path
                fill="currentColor"
                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
              />
            </svg>
          </span>
        </button>
      </td>
    </tr>
  </table>
</ng-container>
<ng-container *ngIf="!list || list.length === 0">
  <p>No apartments to display.</p>
</ng-container>
